{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="icon" type="image/png"  href="{% static 'logo.png' %}">
    <title>Tradebook</title>
</head>
<body>
  <style>
    body {background-color:rgb(214, 198, 198);}
    </style>

<nav class="navbar navbar-expand-md navbar-dark bg-dark border border-dark py-1">
<div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
         <img src="{% static 'logo.png' %}" width="30" height="30" class="d-inline-block align-top">
        <span>Tradebook<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-text-paragraph" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm4-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5z"/>
          </svg></span>
    </a>

{% if n50.nchange > 0 %}

  <span class="nav-item active" > 

    <b style="font-size:16px; color:rgba(255, 255, 255, 0.842)">&nbsp;&nbsp;&nbsp;{{n50.nname}}</b> 
    <b style="font-size:14px; color:rgb(110, 187, 129)">({{n50.npchange}}%)</b><br>
    <b style="font-size:20px; color:rgb(106, 211, 133)">&nbsp;&nbsp;&nbsp;{{n50.nprc}}</b>
    <span style="font-size:15px; color:rgb(110, 187, 129)">({{n50.nchange}})</span>

</span>

{% else %}

  span class="nav-item active" > 

    <b style="font-size:16px; color:rgb(255, 255, 255, 0.842)">&nbsp;&nbsp;&nbsp;{{n50.nname}}</b> 
    <b style="font-size:14px; color:rgb(247, 63, 63)">({{n50.npchange}}%)</b><br>
    <b style="font-size:20px; color:rgb(247, 63, 63)">&nbsp;&nbsp;&nbsp;{{n50.nprc}}</b>
    <span style="font-size:15px; color:rgb(247, 63, 63)">({{n50.nchange}})</span>

</span> 

{% endif %}

{% if bn.change > 0 %}

  <span class="nav-item active" > 

    <b style="font-size:16px; color:rgb(255, 255, 255, 0.842)">&nbsp;&nbsp;&nbsp;&nbsp;{{bn.name}}</b> 
    <b style="font-size:14px; color:rgb(110, 187, 129)">({{bn.pchange}}%)</b><br>
    <b style="font-size:20px; color:rgb(106, 211, 133)">&nbsp;&nbsp;&nbsp;{{bn.prc}}</b>
    <span style="font-size:15px; color:rgb(110, 187, 129)">({{bn.change}})</span>

  </span>


{% else %}
 
  <span class="nav-item active" > 

    <b style="font-size:16px; color:rgb(255, 255, 255, 0.842)">&nbsp;&nbsp;&nbsp;&nbsp;{{bn.name}}</b> 
    <b style="font-size:14px; color:rgb(247, 63, 63)">({{bn.pchange}}%)</b><br>
    <b style="font-size:20px; color:rgb(247, 63, 63)">&nbsp;&nbsp;&nbsp;{{bn.prc}}</b>
    <span style="font-size:15px; color:rgb(247, 63, 63)">({{bn.change}})</span>

  </span>

{% endif %}

{% if vx.vchange > 0 %}
  
  <span class="nav-item active" > 

    <b style="font-size:16px; color:rgb(255, 255, 255, 0.842)">&nbsp;&nbsp;&nbsp;&nbsp;{{vx.vname}}</b> 
    <b style="font-size:14px; color:rgb(110, 187, 129)">({{vx.vpchange}}%)</b><br>
    <b style="font-size:20px; color:rgb(106, 211, 133)">&nbsp;&nbsp;&nbsp;{{vx.vprc}}</b>
    <span style="font-size:15px; color:rgb(110, 187, 129)">({{vx.vchange}})</span>

  </span>

{% else %}
  <span class="nav-item active" > 

    <b style="font-size:16px; color:rgb(255, 255, 255, 0.842)">&nbsp;&nbsp;&nbsp;&nbsp;{{vx.vname}}</b> 
    <b style="font-size:14px; color:rgb(247, 63, 63)">({{vx.vpchange}}%)</b><br>
    <b style="font-size:20px; color:rgb(247, 63, 63)">&nbsp;&nbsp;&nbsp;{{vx.vprc}}</b>
    <span style="font-size:15px; color:rgb(247, 63, 63)">({{vx.vchange}})</span>

  </span>

{% endif %}
    

    <div class="collapse navbar-collapse" id="navbarNav"></div>

        <ul class="navbar-nav mr-auto">

            <a href="{% url 'signup' %}"><button style="margin:3px;" class="btn btn-light navbar-btn"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg> SignUp</button></a>

              <a href="{% url 'login' %}"><div style="margin:3px;" class="nav-link"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg> Login</div></a>

                <li class="nav-item {{ create }}">
                    <a class="nav-link" href="{% url 'newnote' %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>Create</a>
                </li>
<!-- 
            <li class="nav-item {{ create }}">
                  <a class="nav-link" href="{% url 'signup' %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg> SignUp</a>
            </li> -->

        </ul>
        </ul>
    </div>
</div>
</nav>

<div class="container">
  
{% block content %}
{% endblock %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
