{% extends 'base.html' %}

{% load static %}

{% block content %}


<br/>
<body>

<table style="float: left; margin-right:4px; width: 52%"
class="table table-striped table-bordered table-dark">
  <thead class="thead-dark">
    <tr>

      <th style="width:18%" scope="col">Banks</th>
      <th style="width:5%" scope="col">Avg</th>
      <th style="width:24%" scope="col">Change</th>

      <th style="width:7%" scope="col">Day H</th>
      <th style="width:7%" scope="col">Day L</th>
      <!-- <th style="width:7%; background-color:rgb(214, 198, 198)" scope="col"></th>
      <th style="width:7%" scope="col">Day L</th> -->
            
    </tr>
  </thead>
  <tbody>

    <script >
      str = ("{{xyz.companyName}}");
      newStr = str.replace('Limited', '');
      </script>  

    {% for xyz in Scont %}
    {% if xyz.change > 0 %}
  		<tr>
      <!-- <td><img src="#" width="22" height="27"><b>{{xyz.companyName}}</b></td> -->
      <th scope="row" style="color:rgb(157, 255, 181)">{{xyz.symbol}}  <span style="color:rgba(106, 211, 133)">&#8648;</span></th>
			<th scope="row" style="color:rgba(211, 234, 253, 0.842)">{{xyz.lastPrice}}</th>
      <td scope="row" style="color:rgba(106, 211, 133)">{{xyz.change}} pts ({{xyz.pChange}}%)</td>
			<!-- <td scope="row" style="color:rgba(106, 211, 133)">{{xyz.pChange}}%</td> -->
      <td scope="row" style="color:rgba(255, 255, 255, 0.842)">{{xyz.dayHigh}}</td>
      <td scope="row" style="color:rgba(255, 255, 255, 0.842)">{{xyz.dayLow}}</td>
      <!-- <th scope="row" style="background-color:rgb(214, 198, 198)"></th>
      <th scope="row" style="color:rgba(211, 234, 253, 0.842)">{{xyz.lastPrice}}</th> -->

    {% else %}   
    <tr>
		  <th scope="row" style="color:rgb(233, 202, 202)">{{xyz.symbol}}  <span style="color:rgb(245, 100, 100)">&#8650;</span></th>
			<th scope="row" style="color:rgba(211, 234, 253, 0.842)">{{xyz.lastPrice}}</th>
      <td scope="row" style="color:rgb(245, 100, 100)">{{xyz.change}} pts ({{xyz.pChange}}%)</td>
			<!-- <td scope="row" style="color:rgb(245, 100, 100)">{{xyz.pChange}}%</td> -->
      <td scope="row" style="color:rgba(255, 255, 255, 0.842)">{{xyz.dayHigh}}</td>
      <td scope="row" style="color:rgba(255, 255, 255, 0.842)">{{xyz.dayLow}}</td>
      <!-- <th scope="row" style="background-color:rgb(214, 198, 198)"></th>
      <th scope="row" style="color:rgba(211, 234, 253, 0.842)">{{xyz.lastPrice}}</th> -->
<!-- {% if xyz.companyName == "HDFC Bank Limited" %}<td scope="row" style="color:rgb(245, 100, 100)">{{xyz.pChange}}%2A 28 %</td> {%endif%}    -->
    {% endif %}
    
{% endfor %} 



<!-- <table style="float: left; width: 52%"
class="table table-striped table-bordered table-dark">
  <thead class="thead-dark">
    <tr>
      <th style="width:18%" scope="col">Banks</th>
      <th style="width:5%" scope="col">Avg</th>
      <th style="width:24%" scope="col">Change</th>
      <th style="width:6%" scope="col">% Chng</th> -->
      <!-- <th style="width:7%" scope="col">Day H</th>
      <th style="width:7%" scope="col">Day L</th> -->
      <!-- <th scope="col">BNF Impact%</th> -->
<!--             
    </tr>
  </thead>
  <tbody> -->

    <!-- <script >
      str = ("{{xyz.companyName}}");
      newStr = str.replace('Limited', '');
      </script>  

    {% for xyz in Scont %}
    {% if xyz.change > 0 %}
  		<tr>
      <td><img src="#" width="22" height="27"><b>{{xyz.companyName}}</b></td>
      <th scope="row" style="color:rgb(157, 255, 181)">{{xyz.symbol}}  <span style="color:rgba(106, 211, 133)">&#8648;</span></th>
			<th scope="row" style="color:rgba(211, 234, 253, 0.842)">{{xyz.lastPrice}}</th>
      <td scope="row" style="color:rgba(106, 211, 133)">{{xyz.change}} pts ({{xyz.pChange}}%)</td>
			 <td scope="row" style="color:rgba(106, 211, 133)">{{xyz.pChange}}%</td> -->
      <!-- <td scope="row" style="color:rgba(255, 255, 255, 0.842)">{{xyz.dayHigh}}</td>
      <td scope="row" style="color:rgba(255, 255, 255, 0.842)">{{xyz.dayLow}}</td>

    {% else %}   
    <tr>
		  <th scope="row" style="color:rgb(233, 202, 202)">{{xyz.symbol}}  <span style="color:rgb(245, 100, 100)">&#8650;</span></th>
			<th scope="row" style="color:rgba(211, 234, 253, 0.842)">{{xyz.lastPrice}}</th>
      <td scope="row" style="color:rgb(245, 100, 100)">{{xyz.change}} pts ({{xyz.pChange}}%)</td>
			 <td scope="row" style="color:rgb(245, 100, 100)">{{xyz.pChange}}%</td> -->
      <!-- <td scope="row" style="color:rgba(255, 255, 255, 0.842)">{{xyz.dayHigh}}</td>
      <td scope="row" style="color:rgba(255, 255, 255, 0.842)">{{xyz.dayLow}}</td>
 {% if xyz.companyName == "HDFC Bank Limited" %}<td scope="row" style="color:rgb(245, 100, 100)">{{xyz.pChange}}%2A 28 %</td> {%endif%}    -->
    <!-- {% endif %}
    
{% endfor %}  --> 
</Body> 

{% endblock %}