{% extends 'base.html' %}

{% load static %}

{% block content %}

{% load mathfilters %}

<br/>

<body style="background-color:#181414"> 
  
<table style="float: left; width: 59%"
class="table table-striped table-bordered table-dark">
  <thead class="thead-dark">
    <tr>

      <th style="width:25%" scope="col">Banks</th>
      <th style="width:5%" scope="col">Avg</th>
      <th style="width:26%" scope="col">Change</th>
      <th style="width:7%" scope="col">Day H</th>
      <th style="width:7%" scope="col">Day L</th>
      <th style="width:7%" scope="col">BNF%</th>
      <!-- <th style="width:7%; background-color:rgb(214, 198, 198)" scope="col"></th>
      <th style="width:7%" scope="col">Day L</th> -->
            
    </tr>
  </thead>
  <tbody>

    {% for xyz in Scont %}
    {% if xyz.change > 0 %}

  		<tr>
      <!-- <td><img src="#" width="22" height="27"><b>{{xyz.companyName}}</b></td> -->
      <th scope="row" style="color:rgb(157, 255, 181)">{{xyz.symbol}}  <span style="color:rgba(106, 211, 133)">&#8648;</span></th>
			<th scope="row" style="color:rgba(211, 234, 253, 0.842)">{{xyz.lastPrice}}</th>
      <td scope="row" style="color:rgba(106, 211, 133)">{{xyz.change}} pts ({{xyz.pChange}}%)</td>
			<!-- <td scope="row" style="color:rgba(106, 211, 133)">{{xyz.pChange}}%</td> -->
      <td scope="row" style="color:rgba(255, 255, 255, 0.842)">{{xyz.dayHigh}}</td>
      <td scope="row" style="color:rgba(255, 255, 255, 0.842)">{{xyz.dayLow}}</td>

    {% if xyz.symbol == "HDFCBANK" %}
      <td scope="row" style="color:rgba(106, 211, 133)">{{xyz.pChange|mul:27.80|div:bnfpchange|stringformat:".2f"|cut:"-"}}%</td>
    {% elif xyz.symbol == "ICICIBANK" %}
      <td scope="row" style="color:rgba(106, 211, 133)">{{xyz.pChange|mul:22.62|div:bnfpchange|stringformat:".2f"|cut:"-"}}%</td>
    {% elif xyz.symbol == "KOTAKBANK" %}
      <td scope="row" style="color:rgba(106, 211, 133)">{{xyz.pChange|mul:11.61|div:bnfpchange|stringformat:".2f"|cut:"-"}}%</td>
    {% elif xyz.symbol == "AXISBANK" %}
      <td scope="row" style="color:rgba(106, 211, 133)">{{xyz.pChange|mul:11.52|div:bnfpchange|stringformat:".2f"|cut:"-"}}%</td>
    {% elif xyz.symbol == "SBIN" %}
      <td scope="row" style="color:rgba(106, 211, 133)">{{xyz.pChange|mul:11.45|div:bnfpchange|stringformat:".2f"|cut:"-"}}%</td>
    {% elif xyz.symbol == "INDUSINDBK" %}
      <td scope="row" style="color:rgba(106, 211, 133)">{{xyz.pChange|mul:5.91|div:bnfpchange|stringformat:".2f"|cut:"-"}}%</td>
    {% elif xyz.symbol == "AUBANK" %}
      <td scope="row" style="color:rgba(106, 211, 133)">{{xyz.pChange|mul:2.33|div:bnfpchange|stringformat:".2f"|cut:"-"}}%</td>
    {% elif xyz.symbol == "BANDHANBNK" %}
      <td scope="row" style="color:rgba(106, 211, 133)">{{xyz.pChange|mul:1.75|div:bnfpchange|stringformat:".2f"|cut:"-"}}%</td>
    {% elif xyz.symbol == "FEDERALBNK" %}
      <td scope="row" style="color:rgba(106, 211, 133)">{{xyz.pChange|mul:1.70|div:bnfpchange|stringformat:".2f"|cut:"-"}}%</td>
    {% elif xyz.symbol == "IDFCFIRSTB" %}
      <td scope="row" style="color:rgba(106, 211, 133)">{{xyz.pChange|mul:1.54|div:bnfpchange|stringformat:".2f"|cut:"-"}}%</td>
    {% endif %}
 

    {% else %}   
    <tr>
		  <th scope="row" style="color:rgb(233, 202, 202)">{{xyz.symbol}}  <span style="color:rgb(245, 100, 100)">&#8650;</span></th>
			<th scope="row" style="color:rgba(211, 234, 253, 0.842)">{{xyz.lastPrice}}</th>
      <td scope="row" style="color:rgb(245, 100, 100)">{{xyz.change}} pts ({{xyz.pChange}}%)</td>
			<!-- <td scope="row" style="color:rgb(245, 100, 100)">{{xyz.pChange}}%</td> -->
      <td scope="row" style="color:rgba(255, 255, 255, 0.842)">{{xyz.dayHigh}}</td>
      <td scope="row" style="color:rgba(255, 255, 255, 0.842)">{{xyz.dayLow}}</td>

    {% if xyz.symbol == "HDFCBANK" %}
      <td scope="row" style="color:rgb(245, 100, 100)">{{xyz.pChange|mul:27.80|div:bnfpchange|stringformat:".2f"}}%</td>
    {% elif xyz.symbol == "ICICIBANK" %}
      <td scope="row" style="color:rgb(245, 100, 100)">{{xyz.pChange|mul:22.62|div:bnfpchange|stringformat:".2f"}}%</td>
    {% elif xyz.symbol == "KOTAKBANK" %}
      <td scope="row" style="color:rgb(245, 100, 100)">{{xyz.pChange|mul:11.61|div:bnfpchange|stringformat:".2f"}}%</td>
    {% elif xyz.symbol == "AXISBANK" %}
      <td scope="row" style="color:rgb(245, 100, 100)">{{xyz.pChange|mul:11.52|div:bnfpchange|stringformat:".2f"}}%</td>
    {% elif xyz.symbol == "SBIN" %}
      <td scope="row" style="color:rgb(245, 100, 100)">{{xyz.pChange|mul:11.45|div:bnfpchange|stringformat:".2f"}}%</td>
    {% elif xyz.symbol == "INDUSINDBK" %}
      <td scope="row" style="color:rgb(245, 100, 100)">{{xyz.pChange|mul:5.91|div:bnfpchange|stringformat:".2f"}}%</td>
    {% elif xyz.symbol == "AUBANK" %}
      <td scope="row" style="color:rgb(245, 100, 100)">{{xyz.pChange|mul:2.33|div:bnfpchange|stringformat:".2f"}}%</td>
    {% elif xyz.symbol == "BANDHANBNK" %}
      <td scope="row" style="color:rgb(245, 100, 100)">{{xyz.pChange|mul:1.75|div:bnfpchange|stringformat:".2f"}}%</td>
    {% elif xyz.symbol == "FEDERALBNK" %}
      <td scope="row" style="color:rgb(245, 100, 100)">{{xyz.pChange|mul:1.70|div:bnfpchange|stringformat:".2f"}}%</td>
    {% elif xyz.symbol == "IDFCFIRSTB" %}
      <td scope="row" style="color:rgb(245, 100, 100)">{{xyz.pChange|mul:1.54|div:bnfpchange|stringformat:".2f"}}%</td>
    {% endif %}

      <!-- <th scope="row" style="background-color:rgb(214, 198, 198)"></th>
      <th scope="row" style="color:rgba(211, 234, 253, 0.842)">{{xyz.lastPrice}}</th> -->
<!-- {% if xyz.companyName == "HDFC Bank Limited" %}<td scope="row" style="color:rgb(245, 100, 100)">{{xyz.pChange}}%2A 28 %</td> {%endif%}    -->
    {% endif %}
    
{% endfor %} 



<!-- <table style="float: left; width: 52%"
class="table table-striped table-bordered table-dark">
  <thead class="thead-dark">
    <tr>
      <th style="width:18%" scope="col">Banks</th>
      <th style="width:5%" scope="col">Avg</th>
      <th style="width:24%" scope="col">Change</th>

       <th style="width:7%" scope="col">Day H</th>
      <th style="width:7%" scope="col">Day L</th>
      
    
    </tr>
  </thead>
  <tbody>


    {% for xyz in Scont %}
    {% if xyz.change > 0 %}
  		<tr>
      <td><img src="#" width="22" height="27"><b>{{xyz.companyName}}</b></td>
      <th scope="row" style="color:rgb(157, 255, 181)">{{xyz.symbol}}  <span style="color:rgba(106, 211, 133)">&#8648;</span></th>
			<th scope="row" style="color:rgba(211, 234, 253, 0.842)">{{xyz.lastPrice}}</th>
      <td scope="row" style="color:rgba(106, 211, 133)">{{xyz.change}} pts ({{xyz.pChange}}%)</td>

      <td scope="row" style="color:rgba(255, 255, 255, 0.842)">{{xyz.dayHigh}}</td>
      <td scope="row" style="color:rgba(255, 255, 255, 0.842)">{{xyz.dayLow}}</td>

    {% else %}   
    <tr>
		  <th scope="row" style="color:rgb(233, 202, 202)">{{xyz.symbol}}  <span style="color:rgb(245, 100, 100)">&#8650;</span></th>
			<th scope="row" style="color:rgba(211, 234, 253, 0.842)">{{xyz.lastPrice}}</th>
      <td scope="row" style="color:rgb(245, 100, 100)">{{xyz.change}} pts ({{xyz.pChange}}%)</td>
			
      <td scope="row" style="color:rgba(255, 255, 255, 0.842)">{{xyz.dayHigh}}</td>
      <td scope="row" style="color:rgba(255, 255, 255, 0.842)">{{xyz.dayLow}}</td>
 {% if xyz.companyName == "HDFC Bank Limited" %}<td scope="row" style="color:rgb(245, 100, 100)">{{xyz.pChange}}%2A 28 %</td> {%endif%}   
    {% endif %}
    
{% endfor %}   -->
</Body> 

{% endblock %}